@charset "UTF-8";

#wrap {
	width: 1200px;
	margin: auto;
	background-color: black;
}

header {
	height: 80px;
}

section > .join-box > .logo {
	height: 50px;
}

section > .join-box > .join {
	height: 550px;	
}



footer {
	height: 100px;
}